.root {
    -fx-background-color: #1A1A1D;
}


.grid-pane {
    -fx-background-color: #740938;
    -fx-padding: 10;
    -fx-border-color: #AF1740;
    -fx-border-width: 2;
}

.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #740938;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #AF1740;
    -fx-border-width: 2;
    -fx-padding: 8;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #AF1740;
    -fx-text-fill: #000000;
}
.text-field{
    -fx-background-color: #740938;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #AF1740;
    -fx-border-width: 2;
    -fx-padding: 8;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-alignment: Center;
}
.progress-bar {
    -fx-accent: #740938;
    -fx-control-inner-background: #1A1A1D;
    -fx-border-color: #AF1740;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}


.scroll-pane {
    -fx-background-color: #1A1A1D;
    -fx-border-color: #CC2B52;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:horizontal,
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #CC2B52;
    -fx-border-radius: 5;
}

.scroll-pane .thumb {
    -fx-background-color: #CC2B52;
    -fx-background-radius: 5;
}
.progress-bar:indeterminate {
    -fx-accent: #CC2B52;
}
.Delete-button:hover {
    -fx-background-color: #ff0000;
    -fx-text-fill: #000000;
}

.grid-pane .label {
    -fx-background-color: transparent;
}

.dialog-pane {
    -fx-background-color: #1A1A1D;
    -fx-background-radius: 10;
    -fx-padding: 10;
}
.dialog-pane .header-panel {
    -fx-background-color: #740938;
    -fx-padding: 10;
}
.dialog-pane .header-panel .label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.dialog-pane .content {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-padding: 10;
}
.dialog-pane .button-bar .button {
    -fx-background-color: #740938;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 8;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.dialog-pane .button-bar .button:hover {
    -fx-background-color: #AF1740;
}
.dialog-pane .header-panel .label{
    -fx-text-fill: #ffffff;
    -fx-cell-size: 12px;
    -fx-font-size: 16px;
}
.dialog-pane .content{
    -fx-text-fill: #AF1740;
    -fx-cell-size: 10px;
    -fx-font-size: 14px;

}